#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.lists {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style-type: none;
}

ul li {
  font-size: 0.875rem;
}

#myInput {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  right: 0;
  border: none;
  background: none;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #222222;
  font-family: inherit;
  background-color: #cfcfcf;
  width: 500px;
  margin: 0 auto 2rem;
}
